*{
    font-family: "Orbitron";
    
}

body {
    background: linear-gradient(135deg, #f0f4f8, #e2e8f0);
    color: #333333; /* Text color for light theme */
  }



.hc{
    font-weight: 800;
    
}

.hcc{
    font-weight: 500;
}

.myPfp{
    
    width: 200px;
    border-radius: 50%;
    
}

.footer-section {
    text-align: left;
  }
  .footer-section a {
    color: #333333;
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  

.nav-links-container {
    background-color: white; 
    padding: 10px 20px;
    border-radius: 30px; 
    
  }
  
  .nav-link {
    text-decoration: none;
    color: black;
    margin: 0 10px; 

  }


  
  
 